
html,body {
    height:100%;
    margin:0;
    overflow: hidden;
}

body {
	background: #000;
	color: #ecf0f1;
	margin: 0;
	padding: 0;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  color: rgb(57, 206, 11);
  -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
  filter: contrast(1) brightness(1.2) saturate(1.3);
}

.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	width: 40vw;
	font-size: 12px;
    font-weight: normal;
    display: block;
    height: auto;
    padding: 30px;
}

p, a {
    font-size: 16px;   
	color: rgb(57, 206, 11);
	text-shadow: 1px 1px 2px black, 0 0 10px rgb(48, 247, 64), 0 0 5px rgb(28, 121, 33);
}

p {
    margin-bottom: 5px;
}

a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;
}

a:hover {
    text-decoration: underline;
}

.typed_wrap p {
	display: inline;
	line-height: 30px;
}

.links {
	padding: 10px 90px;
}

/*Add custom cursor so it auto inherits font styles*/
.typed_wrap p::after { 
  content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-family: Arial, Helvetica, sans-serif;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
   display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (max-width: 800px)  {
    .typed_wrap {
        width: 70vw;
    }
}

@media only screen and (min-width: 1024px)  {
    .typed_wrap {
        width: 40vw;
    }
}

/* ************* CRT Effect *************** */

.container {
    height:100%;
    min-height:100%; /*for mozilla*/
  }

  .container::after {
    animation: flicker 0.15s infinite;
  }
  
  html > body .container {
    height:auto;
  }

@keyframes flicker {
    0% {
      opacity: 0.67026;
    }
    5% {
      opacity: 0.09456;
    }
    10% {
      opacity: 0.30601;
    }
    15% {
      opacity: 0.53132;
    }
    20% {
      opacity: 0.95641;
    }
    25% {
      opacity: 0.87664;
    }
    30% {
      opacity: 0.34645;
    }
    35% {
      opacity: 0.53843;
    }
    40% {
      opacity: 0.95922;
    }
    45% {
      opacity: 0.46669;
    }
    50% {
      opacity: 0.50629;
    }
    55% {
      opacity: 0.89335;
    }
    60% {
      opacity: 0.6491;
    }
    65% {
      opacity: 0.26172;
    }
    70% {
      opacity: 0.82291;
    }
    75% {
      opacity: 0.23964;
    }
    80% {
      opacity: 0.15251;
    }
    85% {
      opacity: 0.9176;
    }
    90% {
      opacity: 0.29222;
    }
    95% {
      opacity: 0.79393;
    }
    100% {
      opacity: 0.21381;
    }
  }
  .container {
    background: #121010;
    position: relative;
    overflow: hidden;
  }
  .container::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }
  .container::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 3px, 6px 100%;
    pointer-events: none;
  }
  
  
